@font-face {
	font-family: 'Brighton Bold';
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/Brighton Bold Plain.ttf');
}

html {
	background: url('../images/cosmos.png') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#content {
	height: 100%;
	width: 100%;
	color: #6d8199;
	font-family: 'Brighton Bold';
}

#header {
	height: 240px;
	position: relative;
}

#header h1 {
	margin: 0;
	position: absolute;
	top: 75%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-size: 45px;
}

#contact-panel {
	display: inline-block;
	float: right;
	margin-right: 15px;	
}

#contact-panel h3 {
	font-size: 23px;
	text-align: center;
	margin-bottom: 8px;
}

#contact-links img {
	margin: 0px 5px 0px 5px;
}

.preview-panel {
	height: 200px;
}

.preview-panel h2 {
	padding-left: 10px;
	border-bottom: 1px solid;
}

.preview-panel .gallery {
	text-align: center;
}

.preview-panel .gallery .video {
	display: inline-block;
	margin: 0px 50px 0px 50px;
	padding: 5px;
}
